{% extends "account.html" %}
{% load widget_tweaks %}
{% load templatetags_account %}
{% load static %}

{% block body %}
<div class="flex justify-center items-center min-h-screen p-4">
    <div class="w-full max-w-md bg-slate-800 rounded-lg shadow-xl p-6">
        <h2 class="text-center text-2xl font-bold text-blue-400 mb-8">Login</h2>
        
        <form class="space-y-6" method="POST">
            {% csrf_token %}
            <div>
                {{ form.username|add_class:"w-full px-4 py-3 rounded-md bg-slate-700 border border-slate-600 text-white focus:outline-none focus:ring-2 focus:ring-blue-500"|attr:"placeholder:Username" }}
            </div>
            
            <div class="relative">
                {{ form.password|add_class:"password  w-full px-4 py-3 rounded-md bg-slate-700 border border-slate-600 text-white focus:outline-none focus:ring-2 focus:ring-blue-500"|attr:"placeholder:Password" }}
                <button type="button" class="view-password  absolute right-3 top-3 text-blue-400">
                    <svg class="fill-blue-400" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill=""><path d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z"/></svg>
                </button>
                <div> 
                    <p class="text-red-500 text-[14px]">{{ form.non_field_errors.0|translate }}</p>
                </div>
            </div>
            <div class="text-end text-sm">
                <a href="#" class="text-blue-400 hover:underline">Lupa password ?</a>
            </div>           
            <button 
                type="submit" 
                class="w-full bg-blue-500 hover:bg-blue-600 text-white font-medium py-3 rounded-md transition duration-300"
            >
                Login
            </button>
            
            <div class="text-center text-sm">
                <a href="{% url "account:register" %}" class="text-blue-400 hover:underline">Belum punya akun?</a>
            </div>
        </form>
    </div>
</div>

{% endblock body %}

{% block end_body %}
    <script src="{% static "account/js/account.js" %}"></script>
{% endblock end_body %}