{% extends "base.html" %}
{% load static %}
{% load template_tags_saving %}


{% block body %}
    <div class=" font-primary px-3">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="mb-5 px-4 alert">
                        <div class="border-2 border-solid border-[#0FFF00] text-[#0FFF00] px-4 sm:px-8 h-12 rounded-xl bg-[#0FFF00]/10 flex items-center justify-between">
                            <div class="flex items-center gap-2 w-full sm:w-72  px-2 py-1 rounded-lg">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 hidden sm:flex" viewBox="0 -960 960 960" fill="#0FFF00">
                                    <path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/>
                                </svg>
                                <span class="text-sm sm:text-base">{{ message }}</span>
                            </div>
                            <button class="p-1 close">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 -960 960 960" fill="#0FFF00">
                                    <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <div class=" grid grid-flow-row grid-cols-1 md:grid-cols-2 lg:grid-cols-3  2xl:grid-cols-4 gap-4">
            <div class="border-2 border-solid border-[#c6cdff] rounded-md h-72 " style=" box-shadow: 0px 4px 13px 4px rgba(198,205,255,0.25)">
                <a href="{% url "main:create" %}" class="grid justify-center h-full hover:bg-[#c6cdff]/10 duration-100">
                    <div class=" flex justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" height="180px" width="180px" viewBox="0 -960 960 960"  fill="white"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg>
                    </div>
                    <span class="text-center text-3xl">Buat Tabungan </span>
                </a>
            </div>
         
            {% for saving in savings %}
                
                <div class="h-72 border-2 border-solid border-[#248BD6] rounded-md  hover:bg-[#248BD6]/10" style="box-shadow: 0px 4px 13px 7px rgba(36,139,214,0.25)">
                    <a href="{% url "main:detail_saving" saving.slug %}" class="w-full h-full">
                        <span class="text-sm text-[#248BD6] px-2">{{ saving.created_at }}</span>
                        <p class=" h-40 text-4xl md:text-5xl  px-2  saving_title" >{{ saving.title }} </p>
                        <div class=" mx-2 bg-[#248BD6] w-[60%]  text-center rounded-lg mb-1 ">Rp  <span class="nominal">{{ saving.target }}</span> </div>
                        <div class="px-2">
                        <table class="text-[14px] md:text-sm">
                                <tr class="text-[#40c4ff]">
                                    <td class="w-24">Deadline </td>
                                    <td>:  {{ saving.deadline }} </td>
                                </tr>
                                {% status saving.id as status %}
                                <tr>
                                    <td>Status </td>
                                    <td>:
                                        {% if status.status == 'Masuk' %}
                                            <span class="text-[#00FF08]">+ Rp  <span class="nominal">{{ status.nominal }}</span> </span> 
                                        {% elif status.status == 'Keluar' %}
                                            <span class="text-[#FF0000]">- Rp  <span class="nominal">{{ status.nominal }}</span> </span> 
                                        {% else %}
                                            -
                                        {% endif %}  
                                    </td>
                                </tr>
                                <tr class="text-[#FFAA00]">
                                    <td>Gap </td>
                                    <td>: Rp  <span class="nominal">{% gap saving.target status.total %}</span></td>
                                </tr>
                            
                        </table>
                        </div>
                    </a>
                </div> 
        
            {% endfor %}
            
            
        </div>
    </div>

{% endblock body %}

{% block end_body %}
    <script src="{% static "main/js/home.js" %}"></script>

{% endblock end_body %}






